*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    height: 793px;
    background-image: url("./img/orqa\ fon.png");
   background-size: contain;
    
}
.logo{
    object-fit: ;object-position: top;
}
.header-wrapper{
    width: 450px;margin-left: 195px;
    display: flex;justify-content: space-between;
    padding-top: 40px;

}
.header-wrapper ul{
    display: flex;list-style: none;gap: 21px;
}
.header-wrapper ul :hover
{border: solid royalblue 4px;border-left: none;border-right: none;border-top: none

};

